/* CSS for the message created in the previous form */

.flower-message {
  border: 2px solid #f9dfe6;
  border-radius: 10px;
  box-shadow: 4px 4px #f9dfe6;
  width: 300px;
  height: 130px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.flower-message h3 {
  font-family: 'Karma';
  font-size: 18px;
  margin: 0;
  color: #ebfefe;
}

.flower-message p {
  border-bottom: 0px;
  margin: 0px;
  font-size: 13px;
  color: #cab2da;
}

/* Created a heart for future like possibility */
.flower-heart {
  background-color: pink;
  border-radius: 100px;
  padding: 10px;
  border-right: 5px;
  }