body {
  margin: 0px;
  font-family: 'Tangerine', cursive;
}

h2 {
  font-family: 'Roboto';
  padding: 0px;
  margin: 0px;
  color: white;
  font-size: 30px;
}

p {
  color: #fff;
  font-family: 'Tangerine', cursive;
  font-size: 20px;
}

.flowerNamePost {
  border: 35px solid #000;
  background-color: #000;
  position: relative;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* position: relative; */
  /* align-items: center;*/
}

.flowerImg {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
}

.flowerTitles {
  position: absolute;
  bottom: 0;
  text-align: left;
  background-size: cover;
  padding: 20px;
  opacity: 0; /* equals display:none and works with opacity:1*/
  color: white; 
  z-index: 2;
}

/********* HOVER **********/

.flowerNamePost:hover img {
  filter: brightness(20%);
  background: rgba(0,0,0,.5);
}

/* when text has display:none above, display:block, shows it on hover*/
.flowerNamePost:hover .flowerTitles {
  display: block;
  cursor: pointer;
  opacity: 1; 
}

/*MEDIA QUERIES */

@media (min-width: 650px) {
  .flowerNamePost {
    width: 25%;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
  }

}

